<%= form_for [@user, @movie] do |f| %>
  <% if @movie.errors.any? %>
      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= number_field_tag(:rating) %>
  </div>
  <div class="actions">
    <%= f.submit "Rate It!" %>
  </div>
<% end %>
