<p id="notice"><%= notice %></p>
<% if current_user.id == params[:user_id].to_i%>
<h1>My Movies</h1>
<%else%>
<h1>Listing Movies for <%=@user.username%></h1>
<%end%>
    <% @movie_ratings.each do |movie_rating| %>
      <tr>
        <hr>
        <td>Movie: <%= link_to movie_rating.movie.name, user_movie_path(@user, movie_rating.movie) %></td>
        <br/>
        <td>Rating = <%=movie_rating.rating%></td>
        <br/>
        <td><%= link_to 'Edit', edit_user_movie_path(current_user, movie_rating.movie) %></td>
        <td><%= link_to 'Destroy', user_movie_path(@user, movie_rating.movie), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <hr>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', user_path(@user) %>

<br>
<% if current_user.id.to_s == (params[:user_id].to_s) %>
  <%= link_to 'New Movie', new_user_movie_path(@user) %>
<%end%>
