<p id="notice"><%= notice %></p>

<h1>Listing Ratings for <%=@user.username%></h1>

    <% @ratings.each do |rating| %>
      <tr>
        <hr>
        <td><%= link_to rating.name, user_rating_path(@user, rating) %></td>
        <br/>
        <td><%= link_to 'Edit', edit_user_rating_path(current_user, rating) %></td>
        <td><%= link_to 'Destroy', user_rating_path(@user, rating), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <hr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.id.to_s == (params[:user_id].to_s) %>
<%= link_to 'New Rating', new_user_rating_path(@user) %>
<%end%>
